@import "./fonts";
@import "./footer";
@import "./main";
@import "./header";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto-Regular";
    background-color: #3B3F45;
    min-height: 100vh;
}

.container {
    max-width: 534px;
    margin: 0 auto;
}

